.playerBadge{
    // background: #EAE9EC;
    // border: 3px solid #FFFFFF;
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    // border-radius: 50px;
    // width: 332px;
    // height: 70px;
    // font-weight: 653;
    // font-size: 32px;
    // color: #FFFFFF;
    // font-variation-settings: 'slnt' 0;
    // text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    // margin: 0 0 10px 0;
    // overflow: hidden;

    // color: #454545;
    // font-variation-settings: 'slnt' 0;

    // background: url('../images/playerBanner.png');
    // background-size:     cover;                      /* <------ */
    // background-repeat:   no-repeat;
    // background-position: center center;


    background: #eae9ec00;
    margin-top: 10px;
    // border: 2px solid #3d99fe;
    // outline: 2px solid red;
    border-radius: 50px;
    width: 329px;
    height: 49px;
    font-weight: 532;
    font-stretch: expanded;
    font-size: 19px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 10px;
    overflow: hidden;
    color: #494949;
    padding: 5px;
    border: 2px solid #d7d7d7;
    // outline: 1px solid #3d99fe;
}

@media screen and (max-width: 340px) {

    .playerBadge{
        width: 95vw;
    }
    
  }